In [ ]:
import pandas as pd
climate_disaster = pd.read_csv("/content/The Climate Change Twitter Dataset.csv",header=None,na_values="?")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1,2,3,5,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
climate_disaster.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903724 entries, 0 to 903723
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       903724 non-null  object
 1   1       903724 non-null  object
 2   2       272907 non-null  object
 3   3       272907 non-null  object
 4   4       903724 non-null  object
 5   5       903723 non-null  object
 6   6       903723 non-null  object
 7   7       903723 non-null  object
 8   8       272906 non-null  object
 9   9       903723 non-null  object
dtypes: object(10)
memory usage: 68.9+ MB

In [ ]:
climate_disaster.head()

,created_at,id,lng,lat,topic,sentiment,stance,gender,temperature_avg,aggressiveness
1,2006-06-06 16:06:42+00:00,6132,NaN,NaN,Weather Extremes,-0.09717993781566622,neutral,female,NaN,aggressive
2,2006-07-23 21:52:30+00:00,13275,-73.9495823,40.6501038,Weather Extremes,0.5757773507595062,neutral,undefined,-1.1147681,aggressive
3,2006-08-29 01:52:30+00:00,23160,NaN,NaN,Weather Extremes,0.5004789794921876,neutral,male,NaN,aggressive
4,2006-11-07 02:46:52+00:00,57868,NaN,NaN,Weather Extremes,0.032816063904762244,neutral,male,NaN,aggressive
5,2006-11-27 14:27:43+00:00,304553,NaN,NaN,Importance of Human Intervantion,-0.09042840938568113,neutral,male,NaN,aggressive

In [ ]:
climate_disaster.dtypes

created_at         object
id                 object
lng                object
lat                object
topic              object
sentiment          object
stance             object
gender             object
temperature_avg    object
aggressiveness     object
dtype: object

# New Section