<a href="https://colab.research.google.com/github/aman-kaur-11/cmpe255_group_gapv/blob/main/TestingTwitterData_FeatureExtraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
climate_disaster = pd.read_csv("The Climate Change Twitter Dataset.csv",na_values="?")

In [ ]:
climate_disaster.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2806706 entries, 0 to 2806705
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   created_at       object
 1   id               float64
 2   lng              float64
 3   lat              float64
 4   topic            object
 5   sentiment        float64
 6   stance           object
 7   gender           object
 8   temperature_avg  float64
 9   aggressiveness   object
dtypes: float64(5), object(5)
memory usage: 214.1+ MB

In [ ]:
climate_disaster.head()

,created_at,id,lng,lat,topic,sentiment,stance,gender,temperature_avg,aggressiveness
0,2006-06-06 16:06:42+00:00,6132.0,NaN,NaN,Weather Extremes,-0.097180,neutral,female,NaN,aggressive
1,2006-07-23 21:52:30+00:00,13275.0,-73.949582,40.650104,Weather Extremes,0.575777,neutral,undefined,-1.114768,aggressive
2,2006-08-29 01:52:30+00:00,23160.0,NaN,NaN,Weather Extremes,0.500479,neutral,male,NaN,aggressive
3,2006-11-07 02:46:52+00:00,57868.0,NaN,NaN,Weather Extremes,0.032816,neutral,male,NaN,aggressive
4,2006-11-27 14:27:43+00:00,304553.0,NaN,NaN,Importance of Human Intervantion,-0.090428,neutral,male,NaN,aggressive

In [ ]:
climate_disaster.dtypes

created_at          object
id                 float64
lng                float64
lat                float64
topic               object
sentiment          float64
stance              object
gender              object
temperature_avg    float64
aggressiveness      object
dtype: object

# New Section

In [ ]:
#climate_disaster = climate_disaster.rename(columns=climate_disaster.iloc[0]).drop(climate_disaster.index[0])

In [ ]:
#Dropping ID column as it is not necessary for the Data mining
climate_disaster = climate_disaster.drop(['id'],axis=1)

In [ ]:
#Dropping Gender column as it is not necessary for the Data mining
climate_disaster = climate_disaster.drop(['gender'],axis=1)

In [ ]:
#Checking for the null columns in topic column
climate_disaster['topic'].isna().sum()

1

In [ ]:
#Checking for the null columns in Aggressiveness column
climate_disaster['aggressiveness'].isna().sum()

1

In [ ]:
climate_disaster

,created_at,lng,lat,topic,sentiment,stance,temperature_avg,aggressiveness
0,2006-06-06 16:06:42+00:00,NaN,NaN,Weather Extremes,-0.097180,neutral,NaN,aggressive
1,2006-07-23 21:52:30+00:00,-73.949582,40.650104,Weather Extremes,0.575777,neutral,-1.114768,aggressive
2,2006-08-29 01:52:30+00:00,NaN,NaN,Weather Extremes,0.500479,neutral,NaN,aggressive
3,2006-11-07 02:46:52+00:00,NaN,NaN,Weather Extremes,0.032816,neutral,NaN,aggressive
4,2006-11-27 14:27:43+00:00,NaN,NaN,Importance of Human Intervantion,-0.090428,neutral,NaN,aggressive
...,...,...,...,...,...,...,...,...
2806701,2015-06-30 13:26:17+00:00,NaN,NaN,Importance of Human Intervantion,-0.041896,neutral,NaN,not aggressive
2806702,2015-06-30 13:26:18+00:00,NaN,NaN,Importance of Human Intervantion,-0.032873,neutral,NaN,not aggressive
2806703,2015-06-30 13:26:18+00:00,NaN,NaN,Importance of Human Intervantion,-0.044758,neutral,NaN,not aggressive
2806704,2015-06-30 13:26:26+00:00,NaN,NaN,Importance of Human Intervantion,-0.066960,neutral,NaN,not aggressive
2806705,2015-06-30 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
climate_disaster = climate_disaster.dropna()

In [ ]:
climate_disaster.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 821182 entries, 1 to 2806699
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   created_at       821182 non-null  object
 1   lng              821182 non-null  float64
 2   lat              821182 non-null  float64
 3   topic            821182 non-null  object
 4   sentiment        821182 non-null  float64
 5   stance           821182 non-null  object
 6   temperature_avg  821182 non-null  float64
 7   aggressiveness   821182 non-null  object
dtypes: float64(4), object(4)
memory usage: 56.4+ MB

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_encoding_cols = ['aggressiveness']

lbl_encoder = LabelEncoder()

for col in label_encoding_cols:
  climate_disaster[col]= lbl_encoder.fit_transform(climate_disaster[col])

print(climate_disaster.shape)
climate_disaster

(821182, 8)

<ipython-input-13-7083dc45ab78>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  climate_disaster[col]= lbl_encoder.fit_transform(climate_disaster[col])

,created_at,lng,lat,topic,sentiment,stance,temperature_avg,aggressiveness
1,2006-07-23 21:52:30+00:00,-73.949582,40.650104,Weather Extremes,0.575777,neutral,-1.114768,0
7,2006-12-14 01:39:10+00:00,-122.419420,37.774930,Ideological Positions on Global Warming,-0.544195,neutral,4.228540,0
8,2006-12-17 19:43:09+00:00,-79.791980,36.072640,Weather Extremes,-0.565028,denier,5.478175,0
9,2006-12-21 01:39:01+00:00,-121.805790,38.004920,Weather Extremes,0.650960,neutral,-1.652156,1
11,2006-12-31 10:47:25+00:00,-1.902691,52.479699,Weather Extremes,0.670905,neutral,4.864521,0
...,...,...,...,...,...,...,...,...
2806679,2015-06-30 13:24:07+00:00,36.816670,-1.283330,Importance of Human Intervantion,-0.051518,neutral,1.752963,1
2806686,2015-06-30 13:24:26+00:00,115.775222,-31.873834,Politics,-0.031339,neutral,1.594524,0
2806693,2015-06-30 13:25:38+00:00,144.963161,-37.814218,Donald Trump versus Science,-0.382296,denier,-0.797335,0
2806694,2015-06-30 13:25:55+00:00,75.769646,31.220673,Weather Extremes,0.752716,believer,-2.611671,1
2806699,2015-06-30 13:26:10+00:00,1.136320,52.017350,Importance of Human Intervantion,-0.059520,neutral,3.349289,1

In [ ]:
#Using OneHotEncoder Method for Encoding Topic column 
#from sklearn.preprocessing import OneHotEncoder

#creating instance of one-hot-encoder
#encoder = OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'topic' column 
#encoder_df = pd.DataFrame(encoder.fit_transform(climate_disaster[['topic']]).toarray())

#merge one-hot encoded columns back with original DataFrame

#climate_disaster = climate_disaster.join(encoder_df)

#view final df
#print(climate_disaster)

In [ ]:
#from sklearn.preprocessing import OneHotEncoder

#creating instance of one-hot-encoder
#encoder = OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'aggressiveness' column 
#encoder_df = pd.DataFrame(encoder.fit_transform(climate_disaster[['aggressiveness']]).toarray())

#merge one-hot encoded columns back with original DataFrame
#final_df = climate_disaster.join(encoder_df)

#view final df
#print(final_df)

#drop 'aggressiveness' column
#final_df.drop('aggressiveness', axis=1, inplace=True)

In [ ]:
climate_disaster['stance'].isna().sum()

0

In [ ]:
#from sklearn.preprocessing import LabelEncoder, OneHotEncoder
#label_encoding_cols = ['stance']

#lbl_encoder = LabelEncoder()

#for col in label_encoding_cols:
#  climate_disaster[col]= lbl_encoder.fit_transform(climate_disaster[col])

#print(climate_disaster.shape)
#climate_disaster

In [ ]:
#from sklearn.preprocessing import OneHotEncoder

#creating instance of one-hot-encoder
#encoder = OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'stance' column 
#encoder_dff = pd.DataFrame(encoder.fit_transform(climate_disaster[['stance']]).toarray())

#merge one-hot encoded columns back with original DataFrame
#final_dff = climate_disaster.join(encoder_dff)

#view final df
#print(final_dff)

#drop 'aggressiveness' column
#final_dff.drop('stance', axis=1, inplace=True)

In [ ]:
climate_disaster.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 821182 entries, 1 to 2806699
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   created_at       821182 non-null  object
 1   lng              821182 non-null  float64
 2   lat              821182 non-null  float64
 3   topic            821182 non-null  object
 4   sentiment        821182 non-null  float64
 5   stance           821182 non-null  object
 6   temperature_avg  821182 non-null  float64
 7   aggressiveness   821182 non-null  int64
dtypes: float64(4), int64(1), object(3)
memory usage: 56.4+ MB

In [ ]:
climate_disaster

,created_at,lng,lat,topic,sentiment,stance,temperature_avg,aggressiveness
1,2006-07-23 21:52:30+00:00,-73.949582,40.650104,Weather Extremes,0.575777,neutral,-1.114768,0
7,2006-12-14 01:39:10+00:00,-122.419420,37.774930,Ideological Positions on Global Warming,-0.544195,neutral,4.228540,0
8,2006-12-17 19:43:09+00:00,-79.791980,36.072640,Weather Extremes,-0.565028,denier,5.478175,0
9,2006-12-21 01:39:01+00:00,-121.805790,38.004920,Weather Extremes,0.650960,neutral,-1.652156,1
11,2006-12-31 10:47:25+00:00,-1.902691,52.479699,Weather Extremes,0.670905,neutral,4.864521,0
...,...,...,...,...,...,...,...,...
2806679,2015-06-30 13:24:07+00:00,36.816670,-1.283330,Importance of Human Intervantion,-0.051518,neutral,1.752963,1
2806686,2015-06-30 13:24:26+00:00,115.775222,-31.873834,Politics,-0.031339,neutral,1.594524,0
2806693,2015-06-30 13:25:38+00:00,144.963161,-37.814218,Donald Trump versus Science,-0.382296,denier,-0.797335,0
2806694,2015-06-30 13:25:55+00:00,75.769646,31.220673,Weather Extremes,0.752716,believer,-2.611671,1
2806699,2015-06-30 13:26:10+00:00,1.136320,52.017350,Importance of Human Intervantion,-0.059520,neutral,3.349289,1

In [ ]:
climate_disaster['lat_long'] = [', '.join(str(x) for x in y) for y in map(tuple, climate_disaster[['lat', 'lng']].values)]
climate_disaster

<ipython-input-21-e1f5d1585370>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  climate_disaster['lat_long'] = [', '.join(str(x) for x in y) for y in map(tuple, climate_disaster[['lat', 'lng']].values)]

,created_at,lng,lat,topic,sentiment,stance,temperature_avg,aggressiveness,lat_long
1,2006-07-23 21:52:30+00:00,-73.949582,40.650104,Weather Extremes,0.575777,neutral,-1.114768,0,"40.6501038, -73.9495823"
7,2006-12-14 01:39:10+00:00,-122.419420,37.774930,Ideological Positions on Global Warming,-0.544195,neutral,4.228540,0,"37.774930000000005, -122.41942000000002"
8,2006-12-17 19:43:09+00:00,-79.791980,36.072640,Weather Extremes,-0.565028,denier,5.478175,0,"36.07264, -79.79198000000002"
9,2006-12-21 01:39:01+00:00,-121.805790,38.004920,Weather Extremes,0.650960,neutral,-1.652156,1,"38.004920000000006, -121.80579000000002"
11,2006-12-31 10:47:25+00:00,-1.902691,52.479699,Weather Extremes,0.670905,neutral,4.864521,0,"52.47969920000001, -1.9026911"
...,...,...,...,...,...,...,...,...,...
2806679,2015-06-30 13:24:07+00:00,36.816670,-1.283330,Importance of Human Intervantion,-0.051518,neutral,1.752963,1,"-1.28333, 36.81667"
2806686,2015-06-30 13:24:26+00:00,115.775222,-31.873834,Politics,-0.031339,neutral,1.594524,0,"-31.87383407, 115.7752222"
2806693,2015-06-30 13:25:38+00:00,144.963161,-37.814218,Donald Trump versus Science,-0.382296,denier,-0.797335,0,"-37.81421760000001, 144.9631608"
2806694,2015-06-30 13:25:55+00:00,75.769646,31.220673,Weather Extremes,0.752716,believer,-2.611671,1,"31.2206734, 75.76964629999999"
2806699,2015-06-30 13:26:10+00:00,1.136320,52.017350,Importance of Human Intervantion,-0.059520,neutral,3.349289,1,"52.01735000000001, 1.13632"

In [ ]:
climate_disaster = climate_disaster.dropna(subset=['lat', 'lng'])
climate_disaster

,created_at,lng,lat,topic,sentiment,stance,temperature_avg,aggressiveness,lat_long
1,2006-07-23 21:52:30+00:00,-73.949582,40.650104,Weather Extremes,0.575777,neutral,-1.114768,0,"40.6501038, -73.9495823"
7,2006-12-14 01:39:10+00:00,-122.419420,37.774930,Ideological Positions on Global Warming,-0.544195,neutral,4.228540,0,"37.774930000000005, -122.41942000000002"
8,2006-12-17 19:43:09+00:00,-79.791980,36.072640,Weather Extremes,-0.565028,denier,5.478175,0,"36.07264, -79.79198000000002"
9,2006-12-21 01:39:01+00:00,-121.805790,38.004920,Weather Extremes,0.650960,neutral,-1.652156,1,"38.004920000000006, -121.80579000000002"
11,2006-12-31 10:47:25+00:00,-1.902691,52.479699,Weather Extremes,0.670905,neutral,4.864521,0,"52.47969920000001, -1.9026911"
...,...,...,...,...,...,...,...,...,...
2806679,2015-06-30 13:24:07+00:00,36.816670,-1.283330,Importance of Human Intervantion,-0.051518,neutral,1.752963,1,"-1.28333, 36.81667"
2806686,2015-06-30 13:24:26+00:00,115.775222,-31.873834,Politics,-0.031339,neutral,1.594524,0,"-31.87383407, 115.7752222"
2806693,2015-06-30 13:25:38+00:00,144.963161,-37.814218,Donald Trump versus Science,-0.382296,denier,-0.797335,0,"-37.81421760000001, 144.9631608"
2806694,2015-06-30 13:25:55+00:00,75.769646,31.220673,Weather Extremes,0.752716,believer,-2.611671,1,"31.2206734, 75.76964629999999"
2806699,2015-06-30 13:26:10+00:00,1.136320,52.017350,Importance of Human Intervantion,-0.059520,neutral,3.349289,1,"52.01735000000001, 1.13632"

In [ ]:
climate_head=climate_disaster.head()
climate_head

,created_at,lng,lat,topic,sentiment,stance,temperature_avg,aggressiveness,lat_long
1,2006-07-23 21:52:30+00:00,-73.949582,40.650104,Weather Extremes,0.575777,neutral,-1.114768,0,"40.6501038, -73.9495823"
7,2006-12-14 01:39:10+00:00,-122.419420,37.774930,Ideological Positions on Global Warming,-0.544195,neutral,4.228540,0,"37.774930000000005, -122.41942000000002"
8,2006-12-17 19:43:09+00:00,-79.791980,36.072640,Weather Extremes,-0.565028,denier,5.478175,0,"36.07264, -79.79198000000002"
9,2006-12-21 01:39:01+00:00,-121.805790,38.004920,Weather Extremes,0.650960,neutral,-1.652156,1,"38.004920000000006, -121.80579000000002"
11,2006-12-31 10:47:25+00:00,-1.902691,52.479699,Weather Extremes,0.670905,neutral,4.864521,0,"52.47969920000001, -1.9026911"

In [ ]:
# from geopy.extra.rate_limiter import RateLimiter
# from geopy.geocoders import Nominatim
# import pandas as pd
# geolocator = Nominatim(user_agent="user_agent")
# # add rate limit
# reverse = RateLimiter(geolocator.reverse, min_delay_seconds=1)
# state_list = [] # Initialize empty dict
# # get location coordinates
# geo_loc  = climate_disaster.lat_long.values
# for cord in geo_loc:
#     # send request
#     location = reverse(cord, addressdetails=True)
#     # get state value
#     state = location.raw["address"].get("state")
#     # store state value
#     state_list.append(state)
# # assign back states
# climate_disaster['states'] = state_list
# print(climate_disaster)

In [ ]:
climate_disaster.to_csv('Final_Twitter_output.csv', index=False)

### Check in - 3

In [ ]:
climate_disaster

,created_at,lng,lat,topic,sentiment,stance,temperature_avg,aggressiveness,lat_long
1,2006-07-23 21:52:30+00:00,-73.949582,40.650104,Weather Extremes,0.575777,neutral,-1.114768,0,"40.6501038, -73.9495823"
7,2006-12-14 01:39:10+00:00,-122.419420,37.774930,Ideological Positions on Global Warming,-0.544195,neutral,4.228540,0,"37.774930000000005, -122.41942000000002"
8,2006-12-17 19:43:09+00:00,-79.791980,36.072640,Weather Extremes,-0.565028,denier,5.478175,0,"36.07264, -79.79198000000002"
9,2006-12-21 01:39:01+00:00,-121.805790,38.004920,Weather Extremes,0.650960,neutral,-1.652156,1,"38.004920000000006, -121.80579000000002"
11,2006-12-31 10:47:25+00:00,-1.902691,52.479699,Weather Extremes,0.670905,neutral,4.864521,0,"52.47969920000001, -1.9026911"
...,...,...,...,...,...,...,...,...,...
2806679,2015-06-30 13:24:07+00:00,36.816670,-1.283330,Importance of Human Intervantion,-0.051518,neutral,1.752963,1,"-1.28333, 36.81667"
2806686,2015-06-30 13:24:26+00:00,115.775222,-31.873834,Politics,-0.031339,neutral,1.594524,0,"-31.87383407, 115.7752222"
2806693,2015-06-30 13:25:38+00:00,144.963161,-37.814218,Donald Trump versus Science,-0.382296,denier,-0.797335,0,"-37.81421760000001, 144.9631608"
2806694,2015-06-30 13:25:55+00:00,75.769646,31.220673,Weather Extremes,0.752716,believer,-2.611671,1,"31.2206734, 75.76964629999999"
2806699,2015-06-30 13:26:10+00:00,1.136320,52.017350,Importance of Human Intervantion,-0.059520,neutral,3.349289,1,"52.01735000000001, 1.13632"

In [ ]:
climate_disaster_sub = climate_disaster[['topic','stance']]

In [ ]:
climate_disaster_sub

                                           topic    stance
1                               Weather Extremes   neutral
7        Ideological Positions on Global Warming   neutral
8                               Weather Extremes    denier
9                               Weather Extremes   neutral
11                              Weather Extremes   neutral
...                                          ...       ...
2806679         Importance of Human Intervantion   neutral
2806686                                 Politics   neutral
2806693              Donald Trump versus Science    denier
2806694                         Weather Extremes  believer
2806699         Importance of Human Intervantion   neutral

[821182 rows x 2 columns]

In [ ]:
stance_dict = {'believer' : 1,
                'neutral' : 0,
                'denier' : -1,
                }


climate_disaster_sub['stance'] = climate_disaster_sub['stance'].map(stance_dict )

<ipython-input-29-f8bea438a6c2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  climate_disaster_sub['stance'] = climate_disaster_sub['stance'].map(stance_dict )

In [ ]:
climate_disaster_sub

                                           topic  stance
1                               Weather Extremes       0
7        Ideological Positions on Global Warming       0
8                               Weather Extremes      -1
9                               Weather Extremes       0
11                              Weather Extremes       0
...                                          ...     ...
2806679         Importance of Human Intervantion       0
2806686                                 Politics       0
2806693              Donald Trump versus Science      -1
2806694                         Weather Extremes       1
2806699         Importance of Human Intervantion       0

[821182 rows x 2 columns]



```
# This is formatted as code
```

# Feature Extraction of DateTime

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

climate_disaster.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 821182 entries, 1 to 2806699
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   created_at       821182 non-null  object
 1   lng              821182 non-null  float64
 2   lat              821182 non-null  float64
 3   topic            821182 non-null  object
 4   sentiment        821182 non-null  float64
 5   stance           821182 non-null  object
 6   temperature_avg  821182 non-null  float64
 7   aggressiveness   821182 non-null  int64
 8   lat_long         821182 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 62.7+ MB

In [ ]:
climate_disaster['created_at'].describe()
climate_disaster['created_at'].head()

1     2006-07-23 21:52:30+00:00
7     2006-12-14 01:39:10+00:00
8     2006-12-17 19:43:09+00:00
9     2006-12-21 01:39:01+00:00
11    2006-12-31 10:47:25+00:00
Name: created_at, dtype: object

In [ ]:
# convert date object strings to datetimes using pandas
climate_disaster['created_at'] = pd.to_datetime(climate_disaster['created_at'],format='%Y-%m-%dT%H:%M:%SZ', 
 errors = 'coerce')

In [ ]:
# We now have date time as the dtype of the column
climate_disaster['created_at'].head()

1    2006-07-23 21:52:30+00:00
7    2006-12-14 01:39:10+00:00
8    2006-12-17 19:43:09+00:00
9    2006-12-21 01:39:01+00:00
11   2006-12-31 10:47:25+00:00
Name: created_at, dtype: datetime64[ns, UTC]

In [ ]:
# Find the created at year 
climate_disaster['created_at_year'] = climate_disaster['created_at'].dt.year

In [ ]:
climate_disaster[['created_at_year']].head()

    created_at_year
1              2006
7              2006
8              2006
9              2006
11             2006

In [ ]:
# Find the created at Month 
climate_disaster['created_at_month'] = climate_disaster['created_at'].dt.month

In [ ]:
climate_disaster[['created_at_month']].head()

    created_at_month
1                  7
7                 12
8                 12
9                 12
11                12

In [ ]:
# Find the created at day 
climate_disaster['created_at_day'] = climate_disaster['created_at'].dt.day

In [ ]:
climate_disaster[['created_at_day']].head()

    created_at_day
1               23
7               14
8               17
9               21
11              31

In [ ]:
# Find the day of the week for each created at date
climate_disaster['created_at_dayofweek'] = climate_disaster['created_at'].dt.dayofweek

In [ ]:
climate_disaster[['created_at_dayofweek']].head()

    created_at_dayofweek
1                      6
7                      3
8                      6
9                      3
11                     6

In [ ]:
# Find the size of each feature we have extracted