In [1]:
import pandas as pd
climate_disaster = pd.read_csv("/content/The Climate Change Twitter Dataset.csv",header=None,na_values="?")

ModuleNotFoundError: No module named 'pandas'

In [ ]:
climate_disaster.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903724 entries, 0 to 903723
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       903724 non-null  object
 1   1       903724 non-null  object
 2   2       272907 non-null  object
 3   3       272907 non-null  object
 4   4       903724 non-null  object
 5   5       903723 non-null  object
 6   6       903723 non-null  object
 7   7       903723 non-null  object
 8   8       272906 non-null  object
 9   9       903723 non-null  object
dtypes: object(10)
memory usage: 68.9+ MB

In [ ]:
climate_disaster.head()

,created_at,id,lng,lat,topic,sentiment,stance,gender,temperature_avg,aggressiveness
1,2006-06-06 16:06:42+00:00,6132,NaN,NaN,Weather Extremes,-0.09717993781566622,neutral,female,NaN,aggressive
2,2006-07-23 21:52:30+00:00,13275,-73.9495823,40.6501038,Weather Extremes,0.5757773507595062,neutral,undefined,-1.1147681,aggressive
3,2006-08-29 01:52:30+00:00,23160,NaN,NaN,Weather Extremes,0.5004789794921876,neutral,male,NaN,aggressive
4,2006-11-07 02:46:52+00:00,57868,NaN,NaN,Weather Extremes,0.032816063904762244,neutral,male,NaN,aggressive
5,2006-11-27 14:27:43+00:00,304553,NaN,NaN,Importance of Human Intervantion,-0.09042840938568113,neutral,male,NaN,aggressive

In [ ]:
climate_disaster.dtypes

created_at         object
id                 object
lng                object
lat                object
topic              object
sentiment          object
stance             object
gender             object
temperature_avg    object
aggressiveness     object
dtype: object

# New Section

In [ ]:
climate_disaster = climate_disaster.rename(columns=climate_disaster.iloc[0]).drop(climate_disaster.index[0])

In [ ]:
#Dropping ID column as it is not necessary for the Data mining
climate_disaster.drop(['id'],axis=1)

In [ ]:
#Dropping Gender column as it is not necessary for the Data mining
climate_disaster.drop(['gender'],axis=1)

In [ ]:
#Checking for the null columns in topic column
climate_disaster['topic'].isna().sum()

In [ ]:
#Checking for the null columns in Aggressiveness column
climate_disaster['aggressiveness'].isna().sum()

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_encoding_cols = ['aggressiveness']

lbl_encoder = LabelEncoder()

for col in label_encoding_cols:
  climate_disaster[col]= lbl_encoder.fit_transform(climate_disaster[col])

print(climate_disaster.shape)
climate_disaster

In [ ]:
#Using OneHotEncoder Method for Encoding Topic column 
from sklearn.preprocessing import OneHotEncoder

#creating instance of one-hot-encoder
encoder = OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'topic' column 
encoder_df = pd.DataFrame(encoder.fit_transform(climate_disaster[['topic']]).toarray())

#merge one-hot encoded columns back with original DataFrame

climate_disaster = climate_disaster.join(encoder_df)

#view final df
print(climate_disaster)

In [ ]:
from sklearn.preprocessing import OneHotEncoder

#creating instance of one-hot-encoder
encoder = OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'aggressiveness' column 
encoder_df = pd.DataFrame(encoder.fit_transform(climate_disaster[['aggressiveness']]).toarray())

#merge one-hot encoded columns back with original DataFrame
final_df = climate_disaster.join(encoder_df)

#view final df
print(final_df)

#drop 'aggressiveness' column
final_df.drop('aggressiveness', axis=1, inplace=True)

In [ ]:
climate_disaster['stance'].isna().sum()

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_encoding_cols = ['stance']

lbl_encoder = LabelEncoder()

for col in label_encoding_cols:
  climate_disaster[col]= lbl_encoder.fit_transform(climate_disaster[col])

print(climate_disaster.shape)
climate_disaster

In [ ]:
from sklearn.preprocessing import OneHotEncoder

#creating instance of one-hot-encoder
encoder = OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'stance' column 
encoder_dff = pd.DataFrame(encoder.fit_transform(climate_disaster[['stance']]).toarray())

#merge one-hot encoded columns back with original DataFrame
final_dff = climate_disaster.join(encoder_dff)

#view final df
print(final_dff)

#drop 'aggressiveness' column
final_dff.drop('stance', axis=1, inplace=True)